body {
    background-color: rgb(69, 72, 75)
}

body > a {
    color: red;
}

.container-custom {
    width: 100%;
    max-width: 1100px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

.navbar-custom {
    background-color: rgb(69, 72, 75)
}

.logo {
    padding: 30px 2px 0px 2px;
}

/* HOME */
.dog-img {
    padding: 4px;
    border: solid 1px #9d9d9d;
    margin-bottom: 20px;
}

/* FOOTER */
.footer-custom {
    background-color: rgb(69, 72, 75);
}

.footer-custom ul {
    list-style-type: none;
    /* border: solid green 2px; */
    margin: 10px 0px 10px 0px;
}

.footer-custom a:link, a:visited  {
    color: #afb2b3;
}

.footer-custom a:hover  {
    color: #4b2404;
}


/* .footer-dv {
    border: solid blue 1px;
    padding: 0px;
} */